<article class="content-page page article i01">
  <main>
    <!-- Intro Section -->
    <section class="intro-section">
      <div class="intro-content">
        <h2>{{ t title }} {{ query }}</h2>
      </div>
    </section>
    {{> search_post_box }}
    <div class="post-section">
      {{> render_post }}
    </div>
  </main>
</article>
