<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ t title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel="stylesheet" href='/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='icon' type='image/x-icon' href='/favicon.ico'>
    <script src="js/ckeditor.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    {{> header }}
    {{{ body }}}
    {{> footer }}
  </body>
</html>
