<footer class="footer">
  <div class="footer--under">
    <div class="footer--under--inner">
      <div class="footer--under--inner--left">
        <div class="footer--under--inner--left--logo">
          <a href="/">
            <h1><img src="logo.png"></h1>
          </a>
          <p>To Free Creative Activity.</p>
        </div>
      </div>
      <address>2024 Awesome Academy</address>
    </div>
  </div>
</footer>
