<header class="header">
  <div class="header--inner clearfix">
    <div class="header--inner--logo">
      <a href="/"><h1><img src="logo.png"></h1></a>
    </div>
    <nav class="header--inner--gnav">
      <ul class="clearfix">
        <!-- This list should change dynamically based on user role. -->
        <li><a href="/"> HOMEPAGE </a></li>
        <li><a href="/posts"> POSTS </a></li>
        <li><a href="/me"> MY PROFILE </a></li>
        <li><a href="/logout"> LOG OUT </a></li>
      </ul>
    </nav>
  </div>
</header>
