<!-- Search Box -->
<form class="search-form" action="/posts/search" method="get">
  <div>
    <input type="search" class="form-control item" name="q" placeholder={{ t 'placeholder.search' }}>
    <button type="submit" style="display: none" aria-hidden="true"></button>
  </div>
</form>
